.my-input-container {
    position: relative;
    display: block;

    max-width: 300px;
    width: 100%;

    margin: 10px auto;
}

.my-button-container {
    position: relative;
    display: block;

    max-width: 300px;
    width: 100%;

    margin: 10px auto;
}