.my-message {
    display: block;
    position: relative;
    box-sizing: border-box;

    width: 100%;

    padding: 10px 20px;
    margin-bottom: 10px;

    text-align: center;
}

.my-message-error {
    color: indianred;
}

.my-message-info {
    color: cornflowerblue;
}