.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table__header-item,
.my-table__row-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 18px;
}

.my-table__header {
    border-bottom: 2px solid lightblue;
}

.my-table__header-item {
    position: relative;

    user-select: none;

    cursor: pointer;
}

.my-table__header-item.sorted:after {
    display: inline-block;
    position: absolute;

    left: 0;
}

.my-table__header-item.sorted.asc:after {
    content: '⇣';
}

.my-table__header-item.sorted.desc:after {
    content: '⇡';
}

.my-table__row {
    cursor: pointer;
}

.my-table__row:nth-child(odd) {
    background: aliceblue;
}

.my-table__row:hover .my-table__row-item {
    background: rgba(0, 0, 0, .08);
}